<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <div class="newcontainer">
        <%- include("./partials/header.ejs") %>
            <h2>Add a New Pokémon</h2>
            <form action="/pokemons/" method="POST">
                <input type="text" name="name" value="" required /><br />
                <input type="submit" name="" value="New Pokemon" />
            </form>
    </div>
</body>

</html>